* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 100%;
}

body {
    background-color: #D8DFE8;
}

/* ==== Header ==== */
header {
    padding: 2rem 4rem;
}

/* ==== Main ==== */
main {
    display: flex;
    gap: 1rem;
    padding: 2rem 4rem;
    height: 83vh;
}

/* ======== Input Section ======== */
.input-section {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

textarea {
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    background: none;
    outline: none;
    font-size: 2rem;
    color: #0A3871;
    padding: 2rem 8rem;
}

textarea::placeholder {
    color: #0A3871;
}

textarea::-webkit-scrollbar {
    background-color: rgba(255, 255, 255, 0.3);
    width: 6px;
    border-radius: 5px;
}

textarea::-webkit-scrollbar-thumb {
    background-color: rgba(10, 56, 113, 0.9);
    border-radius: 5px;
}

.actions {
    width: 70%;
    align-self: center;
}

.info-text {
    font-size: 0.75rem;
    margin: 1rem 0;
}

.info-text span {
    background-color: #0A3871;
    padding: 0 0.5em;
    color: white;
    border-radius: 50%;
}

.buttons {
    display: flex;
    gap: 1rem;
}

.btn {
    padding: 1rem 0;
    border-color: #0A3871;
    border-radius: 24px;
}

.btn:hover {
    cursor: pointer;
}

.btn.fill {
    background-color: #0A3871;
    color: white;
}

.btn.fill:hover {
    background: none;
    color: #0A3871;
}

.btn.no-fill {
    background: none;
    color: #0A3871;
}

.btn.no-fill:hover {
    background-color: #0A3871;
    color: white;
}

.input-section button {
    width: 50%;
}

/* ======== View Section ======== */
.view-section {
    background-color: white;
    width: 30%;
    height: 100%;
    border-radius: 32px;
    box-shadow: 0 24px 32px -8px rgba(0, 0, 0, 0.08);
    padding: 1rem;
}

.hidden {
    display: none !important;
}

/* ======== No text message ======== */
.no-text-message {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    line-height: 120%;
}

.image-wrap img {
    width: 100%;
    height: auto;
}

.no-text-message h2 {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 120%;
}

/* ======== View ======== */
.view {
    display: flex;
    position: relative;
    padding: 1rem;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.view p {
    max-height: 80%;
    padding: 1rem 0;
    font-size: 1.5rem;
    line-height: 120%;
    color: #495057;
    overflow-y: scroll;
}

.view p::-webkit-scrollbar {
    background-color: rgba(255, 255, 255, 0.3);
    width: 6px;
    border-radius: 5px;
}

.view p::-webkit-scrollbar-thumb {
    background-color: rgba(10, 56, 113, 0.9);
    border-radius: 5px;
}

.view .copy-alert {
    visibility: hidden;
    position: absolute;
    top: 15%;
    left: 35%;
    background-color: rgba(10, 56, 113, 0.3);
    color: white;
    font-weight: bold;
    padding: 1rem;
    border-radius: 24px;
    opacity: 0;
    transition: all 500ms ease-in-out;
}

.copy-alert.copy {
    visibility: visible;
    opacity: 1;
}

.view button {
    align-self: center;
    width: 80%;
}

/* ==== Footer ==== */

footer p {
    padding: 1rem 0;
    text-align: center;
    color: #0A3871;
}

/* ==== Tablet responsive ==== */

@media screen and (max-width: 940px) {
    main {
        flex-direction: column;
        gap: 2rem;
    }

    .input-section {
        width: 100%;
        height: 90%;
    }

    textarea {
        padding: 2rem 0;
    }

    .actions {
        width: 100%;
    }

    .view-section {
        width: 100%;
        height: auto;
        padding: 2rem;
        max-height: 50%;
    }

    .view-section .image-wrap {
        display: none !important;
    }

    .view p {
        max-height: 320px;
    }
}

/* ==== Mobil responsive ==== */

@media screen and (max-width: 540px) {
    html {
        font-size: 75%;
    }

    header {
        padding: 1rem;
    }

    header img {
        width: 7%;
    }

    main {
        padding: 2rem 1rem;
    }

    .view-section p {
        padding: 1rem 0;
    }
}


