/* ==== Variables ==== */
:root {
    --color-dark: #1B2735;
    --color-more-dark: #090A0F;
    --color-gray: #707c8a;
    --color-text: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 100%;
}

body {
    background-color: #D8DFE8;
    height: 100vh;
    padding: 0 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;

    background: radial-gradient(ellipse at bottom, var(--color-dark) 0%, var(--color-more-dark) 100%)
}

/* ==== Componentes ==== */
.btn {
    color: var(--color-text);
    background: none;
    padding: 1rem 0;
    border-color: var(--color-dark);
    border-radius: 24px;
    width: 80%;
}

.btn.fill {
    background-color: var(--color-dark);
}

.btn:hover {
    background-color: var(--color-dark);
    cursor: pointer;
}

.btn.fill:hover {
    background: none;
}

img {
    width: 100%;
    height: auto;
}

.icon {
    background-color: var(--color-text);
    padding: 0 0.5em;
    color: var(--color-dark);
    border-radius: 50%;
}

::-webkit-scrollbar {
    background-color: rgba(255, 255, 255, 0.1);
    width: 6px;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}

/* ==== Header ==== */
header {
    padding-top: 1rem;
    max-height: 10%;
}

header h1 {
    width: 2%;
}

/* ==== Main ==== */
main {
    display: flex;
    justify-content: space-between;
    height: 84%;
    gap: 1rem;
}

/* ======== Input Section ======== */
.input-section {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 8rem;
}

textarea {
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    background: none;
    outline: none;
    font-size: 2rem;
    color: var(--color-text);
}

textarea::placeholder {
    color: var(--color-text);
    opacity: 0.5;
}

.info-text {
    color: var(--color-text);
    font-size: 0.75rem;
    margin: 1rem 0;
}

.buttons {
    display: flex;
    gap: 1rem;
}

/* ======== View Section ======== */
.view-section {
    background: none;
    width: 33%;
    border-radius: 32px;
    box-shadow: 0 24px 32px -8px rgba(0, 0, 0, 0.5);
    padding: 2rem;
}

.hidden {
    display: none !important;
}

/* ======== No text message ======== */
.no-text-message {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    line-height: 120%;
    color: var(--color-text);
}

.no-text-message .image-wrap {
    padding: 2rem;
}

.no-text-message h2 {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 120%;
    margin-bottom: 0.5rem;
}

/* ======== View ======== */
.view {
    display: flex;
    position: relative;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.view p {
    width: 100%;
    font-size: 1.5rem;
    line-height: 120%;
    color: var(--color-gray);
    overflow-y: scroll;
}

.view .copy-alert {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 30%;
    background-color: var(--color-dark);
    color: var(--color-text);
    font-weight: bold;
    padding: 1rem;
    border-radius: 24px;
    opacity: 0;
    transition: all 500ms ease;
}

.copy-alert.copy {
    visibility: visible;
    bottom: 46%;
    opacity: 1;
}

/* ==== Footer ==== */

footer {
    text-align: center;
    color: var(--color-text);
    padding-bottom: 1rem;
}

/* ==== Tablet responsive ==== */

@media screen and (max-width: 940px) {
    main {
        flex-direction: column;
    }

    .input-section {
        width: 100%;
        height: 84%;
        padding: 0;
    }

    .view-section {
        width: 100%;
        max-height: 50%;
    }

    .view-section .image-wrap {
        display: none !important;
    }
}

/* ==== Mobil responsive ==== */

@media screen and (max-width: 540px) {
    html {
        font-size: 75%;
    }

    body {
        padding: 0 1rem;
    }

    header h1 {
        width: 5%;
    }

    .input-section .buttons {
        flex-direction: column;
    }

    .input-section .btn {
        width: 100%;
    }
}





/* ============ Background ============ */
.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.star {
    position: absolute;
    background-color: white;
    box-shadow: 0 0 10px 1px white;
    animation: animstar 100s linear infinite;
}

@keyframes animstar {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(2000px);
    }
}